/amazon.html
/Animation.html
/baby_photo.jpg
/BackgroundImage.html
/Bag.jpg
/Book.jpg
/CSS Program.code-workspace
/Doll.jpg
/flexbox.html
/flipkart.html
/Honey.jpg
/index.html
/index2.html
/Main.html
/MediaQueries.html
/Navbar.html
/Normal.html
/Position.html
/Practice6.html
/Practice7.html
/Practice8.html
/style.css
/style10.css
/style11.css
/style12.css
/style13.css
/style14.css
/style15.css
/style16.css
/style2.css
/style3.css
/style4.css
/style5.css
/style6.css
/style7.css
/style8.css
/style9.css
/Task.html
/Transform.html
/Transition.html
/Units.html